/* objectigrams */
.obj-name {
    outline: 1px black solid;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    min-width: max-content;
}
.obj-attributes {
    outline: 1px black solid;
    text-align: left;
    padding: 5px;
    min-width: max-content;
}
.obj-methods {
    outline: 1px black solid;
    text-align: center;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
}